apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-api
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: go-api
  template:
    metadata:
      labels:
        app: go-api
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: go-api
          image: go-api:01
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8080

          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: go-api-config
                  key: PORT

            - name: ENV
              valueFrom:
                configMapKeyRef:
                  name: go-api-config
                  key: ENV

            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: go-api-secret
                  key: MONGODB_URI

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi

          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 5"]
